__pycache__/
.pytest_cache/
*.py[cod]
*.exe
*.lnk
*.spec
!TrajectoryTracker.spec
_internal/
build/
dist/
data/
!tests/data/
!tests/data/*
tools/
settings.json
models/DeepSlice/*.onnx
models/AtlasPose/*.onnx
models/DiffeomorphicRegistration/*.onnx
